*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px; /*   To make 30px padding around the entire web page    */
}

.header
{
    height: 95vh;
    background: linear-gradient(to right bottom, rgba(75, 195, 216, 0.7),
     rgba(56, 184, 193, 0.7)), url(../img/wallpaper.jpg); /* Dont forget how to use ) and , */
     background-position: top;
     background-size: cover;
    position: relative;
     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box
{
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo
{
    height: 60px;
}








/*  */