// Keyframes are here


@keyframes moveInLeft
{
    0%
    {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%
    {
        transform: translateX(1rem);
    }

    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight
{
    0%
    {
        opacity: 0;
        transform: translateX(10rem);
    }

    80%
    {
        transform: translateX(-1rem);
    }

    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveButton
{
    0%
    {
        opacity: 0;
        transform: translateY(3rem);
    }

    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}


// Mixins
@mixin clearfix
{
    &::after
    {
        content: "";
        display: table;
        clear: both;
    } 
}

@mixin absCenter
{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
}