// Variables are here

$color-primary: #c0e4ebb3;
$color-primary-light: #4bc3d8b3;
$color-primary-dark: #38b8c1b3;
$color-black: #000;
$color-blue: #4091ee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$default-font-size: 1.6rem;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;

$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;